[submodule "CANSAT_AAS_2026_BAROMETER"]
	path = Sensor_Barometer
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_BAROMETER
	branch = main
[submodule "camera"]
	path = Sensor_Camera
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_CAMERA
[submodule "comm"]
	path = comm
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_COMM
[submodule "flight_logic"]
	path = flight_logic
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_Flight_Logic
[submodule "gcs"]
	path = Sensor_Gcs
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_GCS
[submodule "imu"]
	path = Sensor_Imu
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_IMU
[submodule "motor"]
	path = Sensor_Motor
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_MOTOR
[submodule "voltage"]
	path = Sensor_Voltage
	url = https://github.com/SPACE-Yonsei/CANSAT_AAS_2026_VOLTAGE
