eventlogs/

__pycache__/
lib/__pycache__/
*.pyc

lib/config.txt

sensorlogs/
ground_station/logs/
eventlogs/
*.log
*.txt


PICAM_Video/
*.mp4
*.h264
*.jpg
*.png
__pycache__/
*.pyc
lib/prevstate.txt
lib/prevstate.json
lib/prevstate.json.lock
lib/prevstate.json.tmp
sensorlogs/

node_modules/motorlogs/
*.swp
test.py
test1.py
